* {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
}

tooltip {
  background-color: #1E1E2E;
  border-color: #EF9F76;
}

#waybar {
  color: white;
  background-color: rgba(28, 28, 30, 0.50);
  border-bottom: 0px solid #000000;
  padding: 5px 10px;
  margin: 0px;
}

#custom-divider {
  padding: 1px;
  color: white;
}

#clock.time {
  padding: 5px 10px 5px 0px;
  color: white;
}

#clock.date,
#pulseaudio,
#bluetooth,
#network {
  padding: 0px 0px;
}

#mpd.playpause,
#mpd.next,
#mpd.prev {
  padding: 0px 0px;
  margin: 0px 0px;
  font-size: 15px;
}

#backlight {
  padding: 5px 5px 5px 0px;
}

#custom-divider.right_of_backlight {
  padding: 1px 0px 1px 1px;
  color: white;
}

#workspaces {
  padding: 0 5px;
}

#mpd {
  padding: 5px 0px 5px 10px;
}

#workspaces button {
  padding: 0px;
  color: #A6E3A1;
  margin-right: 1px;
}

#workspaces button.empty {
  color: #89B4FA;
}

#workspaces button.urgent {
  color: #F38BA8;
}

#workspaces button.active {
  color: #CBA6F7;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  color: #CBA6F7;
}
